/* shared style  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: 'Inter', sans-serif; */
   font-family: 'Poppins', sans-serif;
}

body {
   max-width: 1400px;
   margin: auto;
}

.btn-primary {
   border-radius: 41px;
   background: #E02C6D;
   color: #FFFFFF;
   padding: 10px 25px;
   border: 0;
   display: flex;
   align-items: center;
}
section{
   margin: 50px 100px;
   border: 1px solid;
}
/* header paart style  */
header {
   padding: 50px 100px;
}

.nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid;
}

.nav-title {
   color: #3A3A3A;
   font-size: 24px;
   font-weight: 700;
   line-height: normal;
}

.nav-menu ul {
   display: flex;
   list-style: none;
   align-items: center;
}

.nav-menu li {
   margin-right: 30px;
}

.nav-menu a {
   text-decoration: none;
   color: #272727;
}

.nav-menu img {
   margin-top: 10px;
}


/* banner part style  */
.banner {
   border: 1px solid;
   display: flex;
   align-items: center;
   margin-top: 50px;
   height: 80vh;
}

.banner-content h1 {
   color: #3A3A3A;
   font-size: 52px;
   font-weight: 700;
   line-height: 70px;
}

.banner-content p {
   color: #3A3A3A;
   font-weight: 600;
   margin: 20px 0;
}

.banner-img{
   background: url('../icons/Circle\ design.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.banner-img img{
   /* width: 80%; */
}
/* logo section start */



/* mobile device  */
@media screen and (max-width: 576px) {
   header{
      padding: 20px;
   }
   .nav-container,.banner,.nav-menu ul{
      flex-direction: column;
   }
   .banner{
      height: auto;
   }
   .banner-img img{
      width: 100%;
   }
   .nav-menu{
      margin-top: 20px;
   }
   .nav-menu li{
      margin: 10px 0;
   }
   .banner-content h1{
      font-size: 30px;
      line-height: 1.2;
   }
}



/* tablet device  */
@media screen and (min-width: 577px) and (max-width: 992px){
   .banner{
      flex-direction: column;      
   }
   header{
      padding: 20px;
   }
   .nav-menu li{
      margin-right: 25px;
   }
   .banner{
      height: auto;
   }
}



/* extra midum device  */
@media screen and (min-width: 993px) and (max-width: 1200px){
   
}